<h1>this is the cocktail description</h1>
<br>
<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
  <%= dose.description %>
  <%= link_to "Delete this ingredient", dose_path(dose), method: :delete, data: { confirm: "are  you sure ?" } %>
  <!-- si le lien change pour une icone il faudra  transformer la string en do à mettre ) la fin  -->
<% end %>

<br>
<%= render "doses/new", cocktail: @cocktail, dose: @dose  %>

<br>

<!-- add the delete action
 -->
<%= link_to "Bo back homepage", cocktails_path %>

